<div class="address-container">
    {% if registeredOffice is defined %}
    <div class="section-title">
      Registered Office Information
    </div>
    <div class="section-data">
      <table class="section-data-table" role="presentation">
        <tr>
          <td class="delivery-address">
            <div class="section-sub-title">Delivery Address</div>
            <div>{{ registeredOffice.deliveryAddress.streetAddress }}</div>
            <div>{{ registeredOffice.deliveryAddress.streetAddressAdditional }}</div>
            <div>{{ registeredOffice.deliveryAddress.addressCity }}
              {{ registeredOffice.deliveryAddress.addressRegion }}
              &nbsp;{{ registeredOffice.deliveryAddress.postalCode }}
            </div>
            <div>{{ registeredOffice.deliveryAddress.addressCountry }}</div>
            <div>{{ registeredOffice.deliveryAddress.deliveryInstructions }}</div>
          </td>
          <td>
            <div class="section-sub-title">Mailing Address</div>
            <div>{{ registeredOffice.mailingAddress.streetAddress }}</div>
            <div>{{ registeredOffice.mailingAddress.streetAddressAdditional }}</div>
            <div>{{ registeredOffice.mailingAddress.addressCity }}
              {{ registeredOffice.mailingAddress.addressRegion }}
              &nbsp;{{ registeredOffice.mailingAddress.postalCode }}
            </div>
            <div>{{ registeredOffice.mailingAddress.addressCountry }}</div>
            <div>{{ registeredOffice.mailingAddress.deliveryInstructions }}</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="separator"></div>
    {% endif %}
    {% if recordsOffice is defined %}
    <div class="no-page-break">
      <div class="section-title">
        Records Office Information
      </div>
      <div class="section-data">
        <table class="section-data-table" role="presentation">
          <tr>
            <td class="delivery-address">
              <div class="section-sub-title">Delivery Address</div>
              <div>{{ recordsOffice.deliveryAddress.streetAddress }}</div>
              <div>{{ recordsOffice.deliveryAddress.streetAddressAdditional }}</div>
              <div>{{ recordsOffice.deliveryAddress.addressCity }}
                {{ recordsOffice.deliveryAddress.addressRegion }}
                &nbsp;{{ recordsOffice.deliveryAddress.postalCode }}
              </div>
              <div>{{ recordsOffice.deliveryAddress.addressCountry }}</div>
              <div>{{ recordsOffice.deliveryAddress.deliveryInstructions }}</div>
            </td>
            <td>
              <div class="section-sub-title">Mailing Address</div>
              <div>{{ recordsOffice.mailingAddress.streetAddress }}</div>
              <div>{{ recordsOffice.mailingAddress.streetAddressAdditional }}</div>
              <div>{{ recordsOffice.mailingAddress.addressCity }}
                {{ recordsOffice.mailingAddress.addressRegion }}
                &nbsp;{{ recordsOffice.mailingAddress.postalCode }}
              </div>
              <div>{{ recordsOffice.mailingAddress.addressCountry }}</div>
              <div>{{ recordsOffice.mailingAddress.deliveryInstructions }}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% endif %}
  </div>
  